:host ::ng-deep .wholeSpan {
    display: inline-block;
    position: relative;
    top: 6em;
}

:host ::ng-deep .dotDivContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .dotSpan {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: red;
}

.chartDiv {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 7em;
    /* top: 44%; */
}

:host ::ng-deep .marginRight {
    margin-right: 4em;
}

#myCanvas {
    position: absolute;
    z-index: 10;
}

.test {
    position: absolute;
    top: 0;
}

.fields {
    position: absolute;
    top: 3px;
    z-index: 20;
}

:host ::ng-deep .moveToLittleTop {
    position: relative;
    top: 3em !important;
}
